<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); %>
<body>
    <%- include('layouts/nav'); %>
    <div class="pt-3 px-2 row">
        <div class="container">
            <table class="table table-success table-striped" style="width:95; white-space: nowrap">
                <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Category</th>
                      <th scope="col">Mode</th>
                      <th scope="col">Shop</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (expenseItem of expenseItems) { %>
                        <tr>
                            <td><%= expenseItem.name %></td>
                            <td><%= expenseItem.price %></td>
                            <td><%= expenseItem.category %></td>
                            <td><%= expenseItem.mode %></td>
                            <td><%= expenseItem.shop %></td>
                        </tr>
                    <% } %>
                  </tbody>
            </table>
        </div> 
    </div>
    
</body>
</html>